.btn {
  margin-left : 10px;
  margin-right : 10px;
}

.saved-articles-sub-container {
  border : 1px solid #f1eded;
  margin : 2px 0px;
}

.saved-articles-annotation-container {
  border : 1px solid #f1eded;
  margin-bottom : 15px;
}